![Header Banner](https://i.ibb.co/n7vXffB/Screenshot-from-2020-11-01-08-30-40.png)

# Data Structures

1. List
2. Tuple
3. Set
4. Dictionary

## List

To define a list :

`variable_name = [ ] `

Eg: `my_list = [1,2,3,4]`

In [1]:
my_list = [1,2,3,4]

In [2]:
type(my_list)

list

In [27]:
list_one = [1,2,3,4]

In [4]:
list_two = [5,6,7,8]

### Concat

In [5]:
list_one + list_two

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
list_one - list_two

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [7]:
list_one

[1, 2, 3, 4]

In [8]:
list_one.append(5)

In [9]:
list_one

[1, 2, 3, 4, 5]

In [10]:
list_one.append(['a','b'])

In [11]:
list_one

[1, 2, 3, 4, 5, ['a', 'b']]

In [12]:
list_one.remove(['a', 'b'])

In [13]:
list_one

[1, 2, 3, 4, 5]

In [14]:
list_one.remove(7)

ValueError: list.remove(x): x not in list

In [21]:
for index, element in enumerate(list_one):
    print(index, '->', element)

0 -> 1
1 -> 2
2 -> a
3 -> 3
4 -> 4
5 -> 5

In [17]:
list_one.insert(2, 'a')

In [22]:
for index, element in enumerate(list_one):
    print(index, '->', element)

0 -> 1
1 -> 2
2 -> a
3 -> 3
4 -> 4
5 -> 5

In [23]:
del list_one[2]

In [24]:
for index, element in enumerate(list_one):
    print(index, '->', element)

0 -> 1
1 -> 2
2 -> 3
3 -> 4
4 -> 5

In [25]:
list_one.clear()

In [26]:
list_one

[]

In [29]:
list_one = [1,2,3,4]

In [30]:
list_one

[1, 2, 3, 4]

In [31]:
list_two

[5, 6, 7, 8]

In [32]:
list_one.extend(list_two)

In [33]:
list_one

[1, 2, 3, 4, 5, 6, 7, 8]

In [35]:
list_one.pop()

8

In [36]:
list_one

[1, 2, 3, 4, 5, 6, 7]

### Copying a list

In [39]:
list_one

[1, 2, 3, 4, 5, 6, 7]

In [40]:
copied_list = list_one

In [41]:
copied_list

[1, 2, 3, 4, 5, 6, 7]

In [42]:
id(list_one)

140633545019592

In [43]:
id(copied_list)

140633545019592

In [45]:
list_one.append('a')

In [46]:
list_one

[1, 2, 3, 4, 5, 6, 7, 'a']

In [47]:
copied_list

[1, 2, 3, 4, 5, 6, 7, 'a']

In [48]:
copied_list_two = list_one.copy()

In [49]:
copied_list_two

[1, 2, 3, 4, 5, 6, 7, 'a']

In [50]:
list_one.append('b')

In [51]:
list_one

[1, 2, 3, 4, 5, 6, 7, 'a', 'b']

In [52]:
copied_list_two

[1, 2, 3, 4, 5, 6, 7, 'a']

## Tuple

To set a tuple,
`variable_name = (1,2,3,4)`

In [54]:
variable_name = (1,2,3,4)

In [55]:
type(variable_name)

tuple

In [56]:
my_list

[1, 2, 4]

In [57]:
my_list.insert(2, 3)

In [58]:
my_list

[1, 2, 3, 4]

In [59]:
variable_name

(1, 2, 3, 4)

In [60]:
variable_name.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [61]:
variable_name.insert(5,6)

AttributeError: 'tuple' object has no attribute 'insert'

> Tuple is an immutable object.

In [62]:
variable_name.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [63]:
variable_name.remove(4)

AttributeError: 'tuple' object has no attribute 'remove'

In [64]:
variable_name.extend((3,4,2))

AttributeError: 'tuple' object has no attribute 'extend'

### Methods in Tuple

In [65]:
variable_name.count(2) # check the variable occurence

1

In [66]:
variable_name.index(1) # check the variable is in which index ?

0

In [67]:
variable_name[1]

2

In [68]:
variable_name[1]

2

## Set

In [69]:
my_set = set()

In [70]:
type(my_set)

set

In [71]:
my_set_two = {1,2,3,4}

In [72]:
type(my_set_two)

set

In [74]:
my_set_one = {5,6,7,8}

In [75]:
my_set_one

{5, 6, 7, 8}

In [76]:
my_set_two

{1, 2, 3, 4}

In [77]:
my_set_one.intersection(my_set_two)

set()

In [78]:
my_set_one.union(my_set_two)

{1, 2, 3, 4, 5, 6, 7, 8}

In [79]:
my_set_one.difference(my_set_two)

{5, 6, 7, 8}

In [80]:
my_set_one

{5, 6, 7, 8}

In [81]:
my_set_one.intersection_update(my_set_two)

In [82]:
my_set_one

set()

In [84]:
my_set_one = {1,2,3,4}

In [85]:
my_set_two = {5,6,7,8}

In [86]:
my_set_one.update(my_set_two)

In [87]:
my_set_one

{1, 2, 3, 4, 5, 6, 7, 8}

In [88]:
my_set_one.add('a')

In [89]:
my_set_one

{1, 2, 3, 4, 5, 6, 7, 8, 'a'}

In [90]:
my_set_one[0]

TypeError: 'set' object does not support indexing

In [91]:
my_set_one.discard('a')

In [92]:
my_set_one

{1, 2, 3, 4, 5, 6, 7, 8}

In [93]:
my_set_three = {1,2,3,4}

In [94]:
my_set_four = {1,2,3,4, 5}

In [95]:
my_set_three.isdisjoint(my_set_four)

False

In [96]:
my_set_five = {7,8,9}

In [97]:
my_set_three.isdisjoint(my_set_five)

True

In [98]:
my_set_four.issubset(my_set_three)

False

In [99]:
my_set_three.issubset(my_set_four)

True

In [100]:
my_set_three

{1, 2, 3, 4}

In [101]:
my_set_four

{1, 2, 3, 4, 5}

In [102]:
my_set_three.union(my_set_four)

{1, 2, 3, 4, 5}

In [103]:
my_set_three.intersection(my_set_four)

{1, 2, 3, 4}

In [104]:
my_set_four.symmetric_difference(my_set_three)

{5}

## Dictionaries

> How to declare dictionaries ?

In [105]:
my_dict = {'a':'arjun', 'b':'bishal', 'c':'chandra'}

In [106]:
my_dict

{'a': 'arjun', 'b': 'bishal', 'c': 'chandra'}

In [122]:
my_dict['a']

'arjun'

In [108]:
my_dict['b']

'bishal'

In [109]:
my_dict['c']

'chandra'

In [110]:
my_dict['d']

KeyError: 'd'

In [111]:
my_dict.get('a')

'arjun'

In [112]:
my_dict.get('b')

'bishal'

In [113]:
my_dict.get('c')

'chandra'

In [114]:
my_dict.get('d')

In [115]:
d_value = my_dict.get('d')

In [116]:
d_value

In [117]:
d_value = my_dict.get('d', 'simran')

In [118]:
d_value

'simran'

In [119]:
d_value = my_dict.get('d', None)

In [120]:
d_value

In [121]:
my_dict.get('e')

In [123]:
my_dict

{'a': 'arjun', 'b': 'bishal', 'c': 'chandra'}

In [124]:
my_dict['d'] = 'dev'

In [125]:
my_dict

{'a': 'arjun', 'b': 'bishal', 'c': 'chandra', 'd': 'dev'}

In [126]:
my_dict.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [127]:
for key in my_dict.keys():
    print(key)

a
b
c
d

In [128]:
my_dict.values()

dict_values(['arjun', 'bishal', 'chandra', 'dev'])

In [129]:
for value in my_dict.values():
    print(value)

arjun
bishal
chandra
dev

In [130]:
my_dict.items()

dict_items([('a', 'arjun'), ('b', 'bishal'), ('c', 'chandra'), ('d', 'dev')])

In [132]:
for result in my_dict.items():
    print(result)

('a', 'arjun')
('b', 'bishal')
('c', 'chandra')
('d', 'dev')

In [133]:
for result in my_dict.items():
    print(type(result))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [134]:
for result in my_dict.items():
    print(result[0])

a
b
c
d

In [135]:
for result in my_dict.items():
    print(result[1])

arjun
bishal
chandra
dev

In [136]:
for key, value in my_dict.items():
    print(key, value)

a arjun
b bishal
c chandra
d dev

In [137]:
for k, v in my_dict.items():
    print(k, v)

a arjun
b bishal
c chandra
d dev

In [138]:
my_dict.fromkeys(('a', 'b'))

{'a': None, 'b': None}

In [140]:
my_dict.pop('d')

'dev'

In [141]:
my_dict

{'a': 'arjun', 'b': 'bishal', 'c': 'chandra'}

In [142]:
my_dict.pop('b')

'bishal'

In [143]:
my_dict

{'a': 'arjun', 'c': 'chandra'}

In [144]:
my_dict_two = {'p':'prakash', 'r':'rabin'}

In [145]:
my_dict

{'a': 'arjun', 'c': 'chandra'}

In [146]:
my_dict_two

{'p': 'prakash', 'r': 'rabin'}

In [147]:
my_dict.update(my_dict_two)

In [148]:
my_dict

{'a': 'arjun', 'c': 'chandra', 'p': 'prakash', 'r': 'rabin'}